<form [formGroup]="loginForm">
    <p-card header="Log In" [style]="{width: '430px'}">
        <div class="field">
            <label for="email">Email</label>
            <input type="text" pInputText formControlName="email" class="w-full" name="email" placeholder="Enter your email"/>
        </div>
        <small *ngIf="email.invalid && (email.dirty||email.touched)" class="block p-error">
            <div *ngIf="email.errors?.['required']">*Email is required</div>
            <br>
            <div *ngIf="email.errors?.['email']">Email should be valid</div>
        </small>
        <div class="field">
            <label for="password">password</label>
            <input type="text" pInputText formControlName="password" class="w-full" name="password" placeholder="Enter your Password"/>
        </div>
        <small *ngIf="password.invalid && (password.dirty||password.touched)" class="block p-error">
            <div *ngIf="password.errors?.['required']">Password is required</div>
            <div *ngIf="password.errors?.['password']">Password should be valid</div>
        </small>
        <br>
        <p-button label="SIGN IN" styleClass="w-full" [disabled]="loginForm.invalid"></p-button>
        <div class="mt-2" style="text-align: center;">
            Not a member?<a routerLink="/register">Register</a>
        </div>

    </p-card>
</form>